{% extends "index.html" %}
{%block title%}About Me{% endblock %}

{% block body %}


	<section id="banner">
		<div class="content">
			<header>
				<h1>About Me</h1>
			</header>
			<p>
				<p> 
					By definition I am a story teller. I am a statistician by training and data scientist by passion. I am inherently drawn to the art of storytelling through data.

				</p>
				<p>
					Python is my main language of choice due to its easy to read syntax and more importantly, it extensive libraries for data cleaning, manipulation, statistical analysis and machine learning model build such as pandas, sci-kit learn and Tensorflow.
				</p>
				<P>
					Additionally, I analyze data with Excel and Power BI, using PivotTables, Power Query, and DAX to uncover insights and create dynamic visualizations. For database management and extractions, transformation and loading (ETL) tasks, I rely on SQL Server Management Studio and Azure.
				</p>
				<P>
					Embarking on an exciting journey, I'm shifting gears from financial advisory to dive deep into the fascinating world of data science, fueled by a passion for uncovering insights and driving innovation
				</p>
		</div>  
		<span class="image object">
			<img src="{{ url_for('static', filename='images/profile_photo.jpeg') }}" class="rounded mx-auto d-block" alt="Handsome " />

		</span>
	</section>

			<hr class="major" />

			<h2>Career Highlights</h2>
			<p> I have spent 5 years in the financial services sector as a deligent advisor and one thing that has consistently capitivated me is understanding my client's decision making process. By understanding their decision-making process, I am able to find the right information to guide them to addressing their needs and acquiring the neccessary data to recommend the right solutions to their needs.</p>
			<p>
				My career thus far has been a wonderfully blesses one and one which I have been able to contribute significantly to many people's lives and helping them to achieve their financial goals. My journey is summarized as follows:
			</p>
			<ul>
				<li> 
					Having completed my BSc in Mathematical Statistics from UNISA, I started my career with Old Mutual in 2019 as an acedemy advisor where I would learn and apply the 6 financial planning principles. I applied myself deligently and was recognized as Top Academy Advisor for 2019.
				</li>
			</ul>
			<ul>
				<li> 
					I later joined Sanlam Life Assurance as a senior financial planner whereby I ascended into a team leader position for one of Sanlam's top performing brokerages Sure Financial Group (SFG) whereby we were recognized as the top performing brokerages by SPW, 2022
				</li>
			</ul>
			<ul>
				<li>
					I am now currently at Aluma Capital, a private equity investment firm that specializes in the fintech space and I have had the opportunity to contribute my data science skillsets in collaboration with the IT & Software development team to developing dhasboards and actionable insights for the organization.
				</li>
			</ul>
			
			<p>
				Guiding clients' financial decisions gave me a passion for leveraging data to inform strategy. I want to contribute to the decision-making process on an organizational level to give businesses the ability to understand their clients better, design products and solutions best suited to thier needs and be more responsive to customer demands.
			</p>

			<hr class="major" />

			<h2>Why Data Science</h2>
			<p> 
				All in all I love working with data and analyzing it to find interesting tid bits that may not readily be recognizable at first sight. 
				As an Arsenal fan and a fan of the English premier league, I find it fascinating how teams with lesser resources use the 
				<a href="https://www.samford.edu/sports-analytics/fans/2019/The-Moneyball-Science"> <strong>Moneyball theory </strong> </a> to stay competitive with teams that have much bigger budgets and bettter financed squads.
				Similarily, Data Science enables businesses with smaller teams and finite resources to be able to better compete and gain a tactical advantage by leveraging data to maximize on their USP.
			<p>
				
			</p>
			<p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis. 
				Praesent rutrum sem diam, vitae egestas enim auctor sit amet. 
				Pellentesque leo mauris, consectetur id ipsum sit amet, fersapien risus, commodo eget turpis at, elementum convallis elit. 
				Pellentesque enim turpis, hendrerit tristique lorem ipsum dolor.</p>

			<hr class="major" />

			<h2>Future Plans</h2>
			<ol>
				<li>
					Work on achieving my MLOps certification within the next 2 years <br> First I will need to complete my Cloud Practitioner certification this year
				</li><br>
				<li>
					This website is render on github pages which only renders static pages by default. I want to include more dynamic content and include sandbox material for visitors to be able to play around with the models I will build
					For that I need javescript and machine learning API access points
				</li><br>
				<li>
					The projects on this website are of a baginners level as an introduction to data science. I want to work more complex proejcts that are more end-to-end 
					<p>
						These projects will geared more towards my needs. I want to travel to london to see the open bus parades in the streets of london with all the gooners and being able to predict Arsenal's chances of winning, what the best prices are for the flights and what the GBP/ZAR exchange will do in future will be of great importance to me
					</p>
				</li>
				<li>
					<h4> Have  <strong> <i> FUN!!! </i></strong> </h4>
				</li><br>
			</ol>



		</section>

{% endblock %}