{% extends "index.html" %}
{% block title %}{{ tag }}{% endblock %}

{% block body %}


		<div class="content">
			<header>
				<h1>Coming Soon</h1>
			</header>
				<p>
					
				</p>
		</div>  
		<span class="image object">
			<img src="https://images.unsplash.com/photo-1636654129379-e7ae6f30bfd0?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y29taW5nJTIwc29vbnxlbnwwfHwwfHx8MA%3D%3D" class="rounded mx-auto d-block" alt="coming soon" />

		</span>

			<hr class="major" />
			<p>Section coming soon</p>
			<h6>Be excited</h6>
		
			
{% endblock %}