{% extends "index.html" %}

{% block title %}Project Work - {{ projects_data.title }}{% endblock %}

{% block banner %}
<!-- Banner -->
<section id="banner">
    <div class="content">
        <header>
            <h1>{{projects_data.title}}</h1>
        </header>
        {% for i in range(projects_data['description']|length)%}
        <p>{{projects_data.description[i]}}
        </p>
        {% endfor %}
        <ul class="actions">
            <li>
                <a href={{projects_data['urls'][-1]}} class="button icon brands fa-github">View Repo</a>
            </li>
        </ul>
    </div>  
    <span class="image object">
        <img src="{{ url_for('static', filename=projects_data.banner_image) }}" class="rounded mx-auto d-block" alt="{{ projects_data.title }}" />

    </span>
</section>

{% endblock %}

{% block body %}
<!-- Projects Section -->
<section>
    <header class="major">
        <h2>Sections</h2>
    </header>
    <div class="row">
        {% for i in range(projects_data['sections']|length) %}
            <div class="col-6 col-12-small">
                
                    <article>
                        <span href={{ projects_data['urls'][i] }} class="image fit">
                            
                            <img src="{{ url_for('static', filename=projects_data['images'][i]) }}" class="rounded mx-auto d-block" alt="{{ projects_data['sections'][i] }}" />
                            
                        </span>
                        <h3>{{ projects_data['sections'][i] }}</h3>
                        <p>{{ projects_data['section_text'][i] }}</p>
                        <!-- Add other details like tools, URL, image, note based on the index -->
                        <ul>
                            <li>Tools: {{ projects_data['tools'][i] }}</li>
                            
                            <!-- Add other details as needed -->
                        </ul>
                    </article>
                    
                    <ul class="actions">
                        <li>
                            <a href={{projects_data['urls'][i]}} class="button icon brands fa-github">View Code</a>
                        </li>
                    </ul>
                
                    </div>
                {% endfor %}

            </div>

        </section>

        <article>
                        
            <hr class="major" />

            <header class="major">
                <h2>Summary</h2>
            </header>
            {% for j in range(projects_data['notes']|length) %}
                <p>
                    {{ projects_data['notes'][j] }}
                </p>
                {% endfor %}
            
            </article>
<script>
    // Your existing GitHub projects fetching script here...
</script>
{% endblock %}
